services:
  backend:
    build:
      context: ./backend
      target: prod
    ports:
      - "7000:7000"
    env_file:
      - ./backend/.env 

  frontend:
    build:
      context: ./frontend
      target: prod
    ports:
      - "80:80"     # HTTP
      - "443:443"   # HTTPs
    depends_on:
      - backend
    
