services:
  backend:
    build:
      context: ./backend
      target: dev
    ports:
      - "7000:7000"
    volumes:
      - ./backend:/usr/src/app     # bind mount for live code updates
      - /usr/src/app/node_modules  # to avoid overwriting node_modules
    env_file:
      - ./backend/.env 

  frontend:
    build:
      context: ./frontend
      target: dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/usr/src/app   # bind mount for live code updates
      - /usr/src/app/node_modules # to avoid overwriting node_modules
    env_file:
      - ./frontend/.env.docker
    depends_on:
      - backend
    
